# Importar Pandas

In [1]:
#importa pandas
import pandas as pd

# Crear una Serie

Explore series en python en el siguiente [link](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) en las primeras lineas del documento

In [1]:
# Crea una Serie de los numeros 10, 20 and 10.

import pandas as pd

numeros = pd.Series([10, 20, 10])

print(numeros)

0    10
1    20
2    10
dtype: int64

In [4]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'

import pandas as pd

colores = pd.Series(['rojo', 'verde', 'azul'])

print(colores)

0     rojo
1    verde
2     azul
dtype: object

# Crear un Dataframe

In [40]:
# Crea un dataframe vacío llamado 'df'
df = pd.Dataframe()

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [41]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado

import pandas as pd

colores = pd.Series(['rojo', 'verde', 'azul'])

lista = colores

# nombre de columnas
columnas= ["color"]
df_colores = pd.DataFrame(lista, columns = columnas)
df_colores

   color
0   rojo
1  verde
2   azul

In [51]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado


import pandas as pd

colores = pd.Series(['rojo', 'verde', 'azul'])
numeros = pd.Series([10, 20, 10])

# nombre de columnas
columnas = ["color", "numero"]
df_colores = pd.DataFrame(colores, columns=columnas[:1])
df_colores["numero"] = numeros
df_colores

   color  numero
0   rojo      10
1  verde      20
2   azul      10

# Leer un dataframe

In [56]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo está localizado en "data/avengers.csv"
import pandas as pd
avengers = pd.read_csv('C:/Users/HP/Desktop/DOC WILLY/CURSO PYTHON/CLASE 5/src/avengers.csv', sep=',')
print(avengers)

                                                   URL  \
0        http://marvel.wikia.com/Henry_Pym_(Earth-616)
1    http://marvel.wikia.com/Janet_van_Dyne_(Earth-...
2    http://marvel.wikia.com/Anthony_Stark_(Earth-616)
3    http://marvel.wikia.com/Robert_Bruce_Banner_(E...
4     http://marvel.wikia.com/Thor_Odinson_(Earth-616)
..                                                 ...
168   http://marvel.wikia.com/Eric_Brooks_(Earth-616)#
169  http://marvel.wikia.com/Adam_Brashear_(Earth-6...
170  http://marvel.wikia.com/Victor_Alvarez_(Earth-...
171     http://marvel.wikia.com/Ava_Ayala_(Earth-616)#
172         http://marvel.wikia.com/Kaluu_(Earth-616)#

                          nombre  n_apariciones actual  genero  fecha_inicio  \
0      Henry Jonathan "Hank" Pym           1269    YES    MALE          1963
1                 Janet van Dyne           1165    YES  FEMALE          1963
2    Anthony Edward "Tony" Stark           3068    YES    MALE          1963
3            Robert Bruce Banner           2089    YES    MALE          1963
4                   Thor Odinson           2402    YES    MALE          1963
..                           ...            ...    ...     ...           ...
168                  Eric Brooks            198    YES    MALE          2013
169                Adam Brashear             29    YES    MALE          2014
170               Victor Alvarez             45    YES    MALE          2014
171                    Ava Ayala             49    YES  FEMALE          2014
172                        Kaluu             35    YES    MALE          2015

                                                 Notes
0    Merged with Ultron in Rage of Ultron Vol. 1. A...
1    Dies in Secret Invasion V1:I8. Actually was se...
2    Death: "Later while under the influence of Imm...
3    Dies in Ghosts of the Future arc. However "he ...
4    Dies in Fear Itself brought back because that'...
..                                                 ...
168                                                NaN
169                                                NaN
170                                                NaN
171                                                NaN
172                                                NaN

[173 rows x 7 columns]

# Inspeccionar un dataframe

In [57]:
# Muestra las primeras 5 filas del DataFrame.

avengers.head(5)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...

In [58]:
# Muestra las primeras 10 filas del DataFrame. 
avengers.head(10)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...
5,http://marvel.wikia.com/Richard_Jones_(Earth-616),Richard Milhouse Jones,612,YES,MALE,1963,NaN
6,http://marvel.wikia.com/Steven_Rogers_(Earth-616),Steven Rogers,3458,YES,MALE,1964,Dies at the end of Civil War. Later comes back.
7,http://marvel.wikia.com/Clint_Barton_(Earth-616),Clinton Francis Barton,1456,YES,MALE,1965,Dies in exploding Kree ship in Averngers Vol. ...
8,http://marvel.wikia.com/Pietro_Maximoff_(Earth...,Pietro Maximoff,769,YES,MALE,1965,Dies in House of M Vol 1 Issue 7. Later comes ...
9,http://marvel.wikia.com/Wanda_Maximoff_(Earth-...,Wanda Maximoff,1214,YES,FEMALE,1965,Dies in Uncanny_Avengers_Vol_1_14. Later comes...

In [60]:
# Muestra las últimas 5 filas del DataFrame.
avengers.tail(5)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
168,http://marvel.wikia.com/Eric_Brooks_(Earth-616)#,Eric Brooks,198,YES,MALE,2013,NaN
169,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,2014,NaN
170,http://marvel.wikia.com/Victor_Alvarez_(Earth-...,Victor Alvarez,45,YES,MALE,2014,NaN
171,http://marvel.wikia.com/Ava_Ayala_(Earth-616)#,Ava Ayala,49,YES,FEMALE,2014,NaN
172,http://marvel.wikia.com/Kaluu_(Earth-616)#,Kaluu,35,YES,MALE,2015,NaN

# Tamaño del DataFrame

In [62]:
# Muestra el tamaño del DataFrame
avengers.shape

(173, 7)

# Data types en un DataFrame

In [64]:
# Muestra los data types del dataframe
avengers.dtypes

URL              object
nombre           object
n_apariciones     int64
actual           object
genero           object
fecha_inicio      int64
Notes            object
dtype: object

# Editar el indice (index)

In [68]:
# Cambia el indice a la columna "fecha_inicio".

avengers = pd.read_csv('C:/Users/HP/Desktop/DOC WILLY/CURSO PYTHON/CLASE 5/src/avengers.csv', sep=',')

avengers_con_indice = avengers.set_index('fecha_inicio')

print(avengers_con_indice)

                                                            URL  \
fecha_inicio
1963              http://marvel.wikia.com/Henry_Pym_(Earth-616)
1963          http://marvel.wikia.com/Janet_van_Dyne_(Earth-...
1963          http://marvel.wikia.com/Anthony_Stark_(Earth-616)
1963          http://marvel.wikia.com/Robert_Bruce_Banner_(E...
1963           http://marvel.wikia.com/Thor_Odinson_(Earth-616)
...                                                         ...
2013           http://marvel.wikia.com/Eric_Brooks_(Earth-616)#
2014          http://marvel.wikia.com/Adam_Brashear_(Earth-6...
2014          http://marvel.wikia.com/Victor_Alvarez_(Earth-...
2014             http://marvel.wikia.com/Ava_Ayala_(Earth-616)#
2015                 http://marvel.wikia.com/Kaluu_(Earth-616)#

                                   nombre  n_apariciones actual  genero  \
fecha_inicio
1963            Henry Jonathan "Hank" Pym           1269    YES    MALE
1963                       Janet van Dyne           1165    YES  FEMALE
1963          Anthony Edward "Tony" Stark           3068    YES    MALE
1963                  Robert Bruce Banner           2089    YES    MALE
1963                         Thor Odinson           2402    YES    MALE
...                                   ...            ...    ...     ...
2013                          Eric Brooks            198    YES    MALE
2014                        Adam Brashear             29    YES    MALE
2014                       Victor Alvarez             45    YES    MALE
2014                            Ava Ayala             49    YES  FEMALE
2015                                Kaluu             35    YES    MALE

                                                          Notes
fecha_inicio
1963          Merged with Ultron in Rage of Ultron Vol. 1. A...
1963          Dies in Secret Invasion V1:I8. Actually was se...
1963          Death: "Later while under the influence of Imm...
1963          Dies in Ghosts of the Future arc. However "he ...
1963          Dies in Fear Itself brought back because that'...
...                                                         ...
2013                                                        NaN
2014                                                        NaN
2014                                                        NaN
2014                                                        NaN
2015                                                        NaN

[173 rows x 6 columns]

# Ordenar el indice

In [70]:
# Ordena el índice de forma descendiente

avengers = pd.read_csv('C:/Users/HP/Desktop/DOC WILLY/CURSO PYTHON/CLASE 5/src/avengers.csv', sep=',')

avengers_ordenado = avengers.sort_index(ascending=False)
print(avengers_ordenado)

                                                   URL  \
172         http://marvel.wikia.com/Kaluu_(Earth-616)#
171     http://marvel.wikia.com/Ava_Ayala_(Earth-616)#
170  http://marvel.wikia.com/Victor_Alvarez_(Earth-...
169  http://marvel.wikia.com/Adam_Brashear_(Earth-6...
168   http://marvel.wikia.com/Eric_Brooks_(Earth-616)#
..                                                 ...
4     http://marvel.wikia.com/Thor_Odinson_(Earth-616)
3    http://marvel.wikia.com/Robert_Bruce_Banner_(E...
2    http://marvel.wikia.com/Anthony_Stark_(Earth-616)
1    http://marvel.wikia.com/Janet_van_Dyne_(Earth-...
0        http://marvel.wikia.com/Henry_Pym_(Earth-616)

                          nombre  n_apariciones actual  genero  fecha_inicio  \
172                        Kaluu             35    YES    MALE          2015
171                    Ava Ayala             49    YES  FEMALE          2014
170               Victor Alvarez             45    YES    MALE          2014
169                Adam Brashear             29    YES    MALE          2014
168                  Eric Brooks            198    YES    MALE          2013
..                           ...            ...    ...     ...           ...
4                   Thor Odinson           2402    YES    MALE          1963
3            Robert Bruce Banner           2089    YES    MALE          1963
2    Anthony Edward "Tony" Stark           3068    YES    MALE          1963
1                 Janet van Dyne           1165    YES  FEMALE          1963
0      Henry Jonathan "Hank" Pym           1269    YES    MALE          1963

                                                 Notes
172                                                NaN
171                                                NaN
170                                                NaN
169                                                NaN
168                                                NaN
..                                                 ...
4    Dies in Fear Itself brought back because that'...
3    Dies in Ghosts of the Future arc. However "he ...
2    Death: "Later while under the influence of Imm...
1    Dies in Secret Invasion V1:I8. Actually was se...
0    Merged with Ultron in Rage of Ultron Vol. 1. A...

[173 rows x 7 columns]

# Resetear el indice

In [72]:
# Resetea el índice

avengers = pd.read_csv('C:/Users/HP/Desktop/DOC WILLY/CURSO PYTHON/CLASE 5/src/avengers.csv', sep=',')

avengers_reseteado = avengers.reset_index()
print(avengers_reseteado)

     index                                                URL  \
0        0      http://marvel.wikia.com/Henry_Pym_(Earth-616)
1        1  http://marvel.wikia.com/Janet_van_Dyne_(Earth-...
2        2  http://marvel.wikia.com/Anthony_Stark_(Earth-616)
3        3  http://marvel.wikia.com/Robert_Bruce_Banner_(E...
4        4   http://marvel.wikia.com/Thor_Odinson_(Earth-616)
..     ...                                                ...
168    168   http://marvel.wikia.com/Eric_Brooks_(Earth-616)#
169    169  http://marvel.wikia.com/Adam_Brashear_(Earth-6...
170    170  http://marvel.wikia.com/Victor_Alvarez_(Earth-...
171    171     http://marvel.wikia.com/Ava_Ayala_(Earth-616)#
172    172         http://marvel.wikia.com/Kaluu_(Earth-616)#

                          nombre  n_apariciones actual  genero  fecha_inicio  \
0      Henry Jonathan "Hank" Pym           1269    YES    MALE          1963
1                 Janet van Dyne           1165    YES  FEMALE          1963
2    Anthony Edward "Tony" Stark           3068    YES    MALE          1963
3            Robert Bruce Banner           2089    YES    MALE          1963
4                   Thor Odinson           2402    YES    MALE          1963
..                           ...            ...    ...     ...           ...
168                  Eric Brooks            198    YES    MALE          2013
169                Adam Brashear             29    YES    MALE          2014
170               Victor Alvarez             45    YES    MALE          2014
171                    Ava Ayala             49    YES  FEMALE          2014
172                        Kaluu             35    YES    MALE          2015

                                                 Notes
0    Merged with Ultron in Rage of Ultron Vol. 1. A...
1    Dies in Secret Invasion V1:I8. Actually was se...
2    Death: "Later while under the influence of Imm...
3    Dies in Ghosts of the Future arc. However "he ...
4    Dies in Fear Itself brought back because that'...
..                                                 ...
168                                                NaN
169                                                NaN
170                                                NaN
171                                                NaN
172                                                NaN

[173 rows x 8 columns]